HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
*.dat
*.dat
tokens.dat
users.dat
zookeeper-server/data/version-2/log.3c
zookeeper-server/data/version-2/log.45
zookeeper-server/data/version-2/log.4e
zookeeper-server/data/version-2/log.57
zookeeper-server/data/version-2/log.60
zookeeper-server/data/version-2/snapshot.3b
zookeeper-server/data/version-2/snapshot.44
zookeeper-server/data/version-2/snapshot.4d
zookeeper-server/data/version-2/snapshot.56
zookeeper-server/data/version-2/snapshot.5f
zookeeper-server/data/version-2/log.7f
zookeeper-server/data/version-2/snapshot.7e
zookeeper-server/data/version-2/log.94
zookeeper-server/data/version-2/log.95
zookeeper-server/data/version-2/snapshot.93
zookeeper-server/data/version-2/snapshot.94
